# Bot's token(change it to your own):
TOKEN=0123456789:aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789


# Execution mode(webhook or updates):
MODE=updates

# Drop existing updates before start working:
DROP_UPDATES=0

# Parameters for webhook mode:
WEBHOOK_URL=https://www.example.com/bot/
WEBHOOK_PATH=/bot/
WEBHOOK_PORT=8080
